
*.xml
*.iml
*.pyc
build/lib/geosoupML/__init__.py
build/lib/geosoupML/distance.py
build/lib/geosoupML/regression.py
build/lib/geosoupML/samples.py
dist/geosoupML-0.1.0-py3-none-any.whl
dist/geosoupML-0.1.0.tar.gz
dist/geosoupML-0.1.1.tar.gz
dist/geosoupML-0.1.1-py3-none-any.whl
dist/geosoupML-0.1.2-py3-none-any.whl
dist/geosoupML-0.1.2.tar.gz
dist/geosoupML-0.1.3-py3-none-any.whl
dist/*
.idea/*
geosoup.egg-info/dependency_links.txt
geosoup.egg-info/PKG-INFO
geosoup.egg-info/requires.txt
geosoup.egg-info/SOURCES.txt
geosoup.egg-info/top_level.txt
geosoupML.egg-info/dependency_links.txt
geosoupML.egg-info/PKG-INFO
geosoupML.egg-info/requires.txt
geosoupML.egg-info/SOURCES.txt
*.whl
*.gz
*.txt
